/* packages/extension/entrypoints/popup/App.css */
body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #E5E7EB;
  border-radius: 10px;
}