@import "tailwindcss";

/* Reseteo básico para evitar el modo oscuro forzado por Vite */
:root {
  background-color: #ffffff;
  color: #000000;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #f3f4f6; /* Un gris muy claro de fondo */
}

/* Estilo para el scrollbar como en la imagen */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}